Source: libtk-codetext-perl
Section: perl
Priority: optional
Maintainer: McStas <mcstas@debian>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Tk-CodeText/

Package: libtk-codetext-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: unknown
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
