Package: libmath-amoeba-perl
Version: 0.05-1
Architecture: all
Maintainer: McStas <mcstas@debian>
Installed-Size: 59
Depends: perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/Math-Amoeba/
Description: unknown
 This is an implimenation of the Downhill Simpex Method in Multidimensions
 (Nelder and Mead) for finding the (local) minimum of a function. Doing this
 in Perl makes it easy for that function to actually be the output of another
 program such as a simulator.
 .
 Arrays and the function are passed by reference to the routines.
 .
 This description was automagically extracted from the module by dh-make-perl.
