.chevron-icon {
  width: 16px; /* Adjust the size as needed */
  height: 16px;
  margin-left: 8px; /* Adjust spacing as needed */
}

.dropdown-button {
  min-width: 50px;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.dropdown-button:hover {
}

.rotate{
  transform: rotate(180deg);
}