#configure-scene-menu {
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
  margin-bottom: 20px;
  z-index: 100;
}
