Source: libmath-amoeba-perl
Section: perl
Priority: optional
Maintainer: McStas <mcstas@debian>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Math-Amoeba/

Package: libmath-amoeba-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: unknown
 This is an implimenation of the Downhill Simpex Method in Multidimensions
 (Nelder and Mead) for finding the (local) minimum of a function. Doing this
 in Perl makes it easy for that function to actually be the output of another
 program such as a simulator.
 .
 Arrays and the function are passed by reference to the routines.
 .
 This description was automagically extracted from the module by dh-make-perl.
