{% extends "layout.html" %}
{% load static %}
{% block title %}User Manipulation{% endblock %}
{% block head_extra %}
<style type="text/css">
  p { color: #336699; }
</style>

  <form method="GET" action="/logout">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <ol>
      <input type=submit id="btn_logout" value="logout" onclick="logout_user()" />
    </ol>
  </form>
{% endblock %}



{% block content %}
  <h1>Configure User</h1>

  <div id='latest'></div>

  <script type="text/javascript" src="{% static 'configure.js' %}"></script>
  <script language="javascript">
    // set up dictionary to py variables
    // ---------------------------------
    var uid         = "{{ uid }}";
    var displayName = "{{ displayName }}"
    var email       = "{{ email }}"
    var password    = "{{ password }}"
    var pwchk       = 'None'

    window.addEventListener("uidLoad", function () {
      update_defaults(defaultSim);
      params = document.getElementById("sim").children;
      for(var i = 0; i < params.length; i++) {
        if(params[i].value == defaultSim) {
          params[i].selected = true;
          break;
        }
      }
      // update list of latest simulations
      setLatest();
    }, false);

  </script>

  <form method=post action="/userSetupPOST/{{ uid }}/" onsubmit="return false;" id="form">
    {% csrf_token %}
    <fieldset>
      <legend>Step 3: Runtime configuration</legend>
      <ol>
        <li>
          <label for=uid class="forlabel">UID:</label>
          <input type=text value=uid id=uid name=uid>
        </li>
        <li>
          <label for=displayName class="forlabel">Handle:</label>
          <input type=text value=displayName id=displayName name=displayName>
        </li>
        <li>
          <label for=email class="forlabel">email:</label>
          <input type=text value=email id=email name=email>
        </li>
        <li>
          <label for=password class="forlabel">Password:</label>
          <input type=text value=password id=password name=password>
        </li>
        <li>
          <label for=password class="forlabel">Repeat Password:</label>
          <input type=text value=pwdchk id=pwdchk npoints name=pwdchk>
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <input type=submit id="usrSub" value="Submit Changes">
      // this bugger should load the usr from the uid given.
      <input type=submit id="uidLoad" value="Load User">
    </fieldset>

  </form>
  <br>
  <div style="display:none" id="hiddenDiv"></div>
{% endblock %}
