<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <title>McStas: {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
<body
  <!-- Begin information messages //-->
  <div id="messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p id="flash">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <!-- End information messages //-->
  <!-- Begin page content //-->
  <div id="content">{% block content %}{% endblock %}</div>
  <!-- End page content //-->
  <!-- begin footer //-->
  <div id="footer">{% block footer %}
    An web-based interface for <a href="http://mcstas.org/">McStas</a>.
    {% endblock %}</div>
  <!-- end footer //-->
</body>
