{% extends "layout.html" %}
{% block title %}Results{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    p { color: #336699; }
    div.centered {
      margin: 10px 0px 10px 0px;
      text-align: center;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Results</h1>

  <script language="javascript">
    var runid = "{{ runid }}";
    var sim   = "{{ sim.name }}";
  </script>
  <script type="text/javascript" src="/static/status.js"></script>
  <script language="javascript">
    $(document).ready(doInit);
  </script>

  <fieldset id="linFieldset">
    <legend id="linLegend">
      Data plots [LIN] (click here for logarithmic - or press 'L')</legend>
    <div id="linPlots" class="centered"></div>
  </fieldset>
  <fieldset id="logFieldset">
    <legend id="logLegend">
      Data plots [LOG] (click here for linear - or press 'L')</legend>
    <div id="logPlots" class="centered"></div>
  </fieldset>

  <br />

  <fieldset>
    <legend>Instrument layout</legend>
    <div id="imgLayout" class="centered"></div>
  </fieldset>

  <br/>

  <fieldset>
    <legend>Simulation output</legend>
    <div class="centered">
      <ul class="inlinelist">
        <li>
          <span id=mcstas>mcstas.tar.gz</span>
        </li>
        <li>
          <span id=instr>{{ sim.name }}.instr</span>
        </li>
        <li>
          <span id=out>stdout</span>
        </li>
        <li>
          <span id=err>stderr</span>
        </li>
      </ul>
    </div>
  </fieldset>


{% endblock %}
