/* Global Reset and Normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: Arial, Helvetica, sans-serif;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  overflow-wrap: break-word;
}
li {
  font-family: Arial, Helvetica, sans-serif;
}

#root,
#__next {
  isolation: isolate;
}
:root {
  --gray-color: #808080;

  /* Light mode colors */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #ffffff;
  --text-color: #333333;
  --link-color: #1a73e8;
  --border-color: #000000;
  --button-bg-color: #3498db;
  --button-text-color: #ffffff;
  --button-text-color-hover: #121212;
  --button-border-color: #2980b9;
  --button-hover-bg-color: #2980b9;
  --button-active-bg-color: #4caf50;

  /* Dark mode colors */
  --primary-color-dark: #2980b9;
  --secondary-color-dark: #27ae60;
  --background-color-dark: #121212;
  --text-color-dark: #000000;
  --link-color-dark: #8ab4f8;
  --border-color-dark: #ffffff;
  --button-bg-color-dark: #2980b9;
  --button-text-color-dark: #ffffff;
  --button-text-color-hover-dark: #121212;
  --button-border-color-dark: #1c5783;
  --button-hover-bg-color-dark: #1c5783;
  --button-active-bg-color-dark: #27ae60;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.fill {
  width: 100%;
  height: 100%;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: xx-large;
}

p {
  font-size: large;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--link-color);
  transition: color 0.3s;
}

.container {
  border: 1px solid var(--border-color);
  transition: border-color 0.3s;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  padding-inline: 15px;
  margin-inline: 5px;
  font-size: 16px;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-text-color-hover);
}

button.active {
  background-color: var(--button-active-bg-color);
}

#app {
  height: 100%;
  width: 100%;
}

/* Dark mode media query */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
    --border-color: var(--border-color-dark);
    --button-bg-color: var(--button-bg-color-dark);
    --button-text-color: var(--button-text-color-dark);
    --button-border-color: var(--button-border-color-dark);
    --button-hover-bg-color: var(--button-hover-bg-color-dark);
    --button-active-bg-color: var(--button-active-bg-color-dark);
  }

  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  a {
    color: var(--link-color-dark);
  }

  .container {
    border: 1px solid var(--border-color-dark);
  }

  button {
    background-color: var(--button-bg-color-dark);
  }
  button:hover {
    background-color: var(--button-hover-bg-color-dark);
    color: var(--button-text-color-hover-dark);
  }
  button.active {
    background-color: var(--button-active-bg-color-dark);
  }
}
