ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

li {
  padding: 14px;
  transition: all linear 0.3s;
}

li:hover {
  background: gray;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  min-width: fit-content;
  max-height: 75vh;
  overflow: auto;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all linear 0.3s;
}

#dropdown{
  min-width: 105px;
}