Package: mcstas
Version: MCSTAS_VERSION
Architecture: i386
Depends: perl, perl-tk, gcc, libc6-dev, libg2c0, pdl, libgfortran3 pgplot5
Suggests: scilab, freewrl, openmpi-bin, libopenmpi-dev
Installed-Size: 31120
Maintainer: McStas Team <mcstas@risoe.dk>
Description: McStas is a computer program (written in C) that enables
 you to model very precisely a neutron instrument described as a series
 of various components. A source component shoots each neutron randomly
 (Monte-Carlo), and the particle is then propagated through the
 different instrument components. These later act on the neutron
 characteristics (position, speed, direction, spin, etc.). Usually, one
 installs some detectors along the neutron path to monitor its
 characteristics and flux.
 .
 To start McStas, use: mcgui
 .
 We recommend to install some of:
   Matlab, Scilab, Octave, Gnuplot, MPI, gdl, freewrl, gtklookat,
   octagaplayer as well.
 .
 You should then reconfigure McStas by running:
 1-  cd /usr/local/lib/mcstas/tools/perl/
 2-  sudo mcstas_reconfigure
