<!DOCTYPE html>
<meta charset="utf-8"/>
<head>
<style>
.headercell { padding:5px }
.state_one { padding:5px; background-color:green; color:white; }
.state_two { padding:5px; background-color:red; color:white; }
.state_three { padding:5px; background-color:gray; color:white; }
.state_four { padding:5px; background-color:black; color:white; }
.vertical { writing-mode:vertical-rl; text-orientation:mixed; }
</style>
</head>
<body>

<fieldset>
<legend>colour codes</legend>
<table>
<tr>
  <td class=state_one>ctime<br>rtime<br>detval<br>acc. ok</td>
  <td class=state_two>ctime<br>rutime<br>detval<br>acc. error</td>
  <td class=state_three>ctime</td>
  <td class=state_four>FAIL</td>
</tr>
</table>
</fieldset>

<fieldset style="margin-top:5px;">
<legend>test results</legend>
{%- if header is not none -%}
<table>
  <tr><td>ncount:</td><td>{{ header.0 }}</td></tr>
  <tr><td>date:</td><td>{{ header.1 }}</td></tr>
  <tr><td>hostname:</td><td>{{ header.2 }}</td></tr>
  <tr><td>user:</td><td>{{ header.3 }}</td></tr>
  <tr><td>cpu type:</td><td>{{ header.4 }}</td></tr>
  <tr><td>gpu type:</td><td>{{ header.5 }}</td></tr>
</table>
{%- endif -%}
<table>
<tr>
  <th></th>
  {# table upper-left corner #}
  {%- for h in hrow -%}
  <th class=vertical>{{ h }}</th>
  {%- endfor -%}
</tr>

{# ROW: state, ctime, rtime, testval, reference-percentage #}
{% for row in rows %}
<tr>
  <td>{{ row.0 }}</td> {# instr #}
  {%- for c in row %}
    {%- if loop.index0 > 0 %}
      {%- if c.0 == 1 %}
  <td class=state_one>{{ c.1 }}<br>{{ c.2 }}<br>{{ c.3 }}<br>{{ c.4 }}</td>
      {%- elif c.0 == 2 %}
  <td class=state_two>{{ c.1 }}<br>{{ c.2 }}<br>{{ c.3 }}<br>{{ c.4 }}</td>
      {%- elif c.0 == 3 %}
  <td class=state_three>{{ c.1 }}</td>
      {%- else %}
  <td class=state_four></td>
      {%- endif %}
    {%- endif -%}
  {%- endfor %}
</tr>
{%- endfor %}
</table>
</fieldset>

</body>
</html>
